:root {
    --foreground-colour: #000000;
    --background-colour: #ffffff;
    --primary-colour: #2f80ed;
    --faint-colour: #cccccc;

    --bright-colour-1: #2ecc71;
    --bright-colour-2: #e67e22;
    --bright-colour-3: #3498db;
    --bright-colour-4: #f1c40f;
    --bright-colour-5: #9b59b6;
    --bright-colour-6: #1abc9c;
    --bright-colour-7: #e74c3c;
    --bright-colour-8: #27ae60;
    --bright-colour-9: #34495e;
    --bright-colour-10: #d35400;
    --bright-colour-11: #2980b9;
    --bright-colour-12: #f39c12;
    --bright-colour-13: #8e44ad;
    --bright-colour-14: #16a085;
    --bright-colour-15: #c0392b;
    --bright-colour-16: #2c3e50;

    --sidebar-width: 280px;
}

body {
    margin: 0;
}
